@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
};


@import "fonts";
@import "reset";
@import "swiper";
@import "accordion";

@mixin MuseoSubtitle {
    font-family: $fontFamily700;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}


//Primary font
$fontFamily700: "Museo700";
$fontFamily900: "Museo900";
$fontFamily500: "Museo500";
$primaryFont: "Montserrat";

@mixin MuseoSubtitle {
    font-family: $fontFamily700;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

body {
    font-family: $primaryFont;
    color: #4F4F4F;
    font-size: 18px;
    line-height: 27px;
    overflow-x:hidden;
}

@media (min-width: 1280px) {
    .container{
        max-width: 1200px;
    }
}

.header {

    &__nav {
        padding: 32px 0px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        li a {
            font-family: $fontFamily700;
            font-size: 15px;
            color: #333333;
            &:hover {
                cursor: pointer;
                color: #7181FC;
            }
        } 
    }

    &__btn-group {

    }
}

.btn-lang {
    
    
    &__title {
        border: 1px solid black;
        border-radius: 60px;
        padding: 12px 14px;
        color: #333333;
        &::after {
            content: "";
            width: 9.2px;
            transition: all 0.3s ease 0s;
            height: 5.2px;
            background: url('../img/header/arrow.svg') 0 0 no-repeat;
            margin-left: 13px;
        }
        &.show {
            &::after {
                transform: rotate((-180deg));
                box-shadow: none;
            }
        }
    }
}

.dropdown-menu {
    min-width: 4.5rem;
}


#dropdownMenuLink {
    background: #FFFFFF;
    color: #333333;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $fontFamily700;
    font-size: 15px;
    border-radius: 60px;
    background: #6248FF;
    color: #ffffff;
}

.btn-sign {
    &__button {
        padding: 13px 24px;
        font-size: 14px;
        &:hover {
            color: #ffffff;
            background-color: #7181FC;
        }
    }
}

// Header content
h1 {
    font-family: $fontFamily700;
    font-size: 63px;
    color: #333333;
}

.header-content {
    padding-top: 100px;
    background: url(../img/header/background.png);
    &__container {
        padding-top: 40px;
    }
}

.header-container {
    &__title {
        margin-bottom: 32px;
    }
    &__subtitle {
        letter-spacing: 0.07em;
        line-height: 30px;
        margin-bottom: 48px;
    }

    &__btn {
        padding: 15px 84px;
        margin-bottom: 182px;
        &:hover {
            color: #ffffff;
            background-color: #7181FC;
        }
    }
}

// Start section

h2 {
    font-family: $fontFamily700;
    font-size: 56px;
    line-height: 66px;
    span {
        background-color: #EFEDFF;
    }
}

.start {
    padding-bottom: 140px;
    &__title {
        padding-top: 141px;
        padding-bottom: 60px;
    }

    &__container {
        
    }
}

.map-step {
    padding: 32px;
    border: 2px solid #6248FF;
    border-radius: 30px;
    &__num {
        font-family: $fontFamily700;
        font-size: 15px;
        color: #6248FF;
        padding-bottom: 8px;
    }

    &__title {
        @include MuseoSubtitle;
        padding-bottom: 24px;
    }

    &__subtitle {
        line-height: 30px;
    }
    &_second {
        margin-top: -40px;
    }
    
}

.border-class-1 {
    margin-top: -109px;
    margin-left: 488px;
    margin-right: 0px;
    width: 465px;
    height: 70px;
    border-top: 3px dashed #6248FF;
    border-right: 3px dashed #6248FF;
    border-top-right-radius: 35px;
}

.border-class-2 {
    margin-right: 486px;
    margin-top: -110px;
    width: 465px;
    height: 70px;
    border-top: 3px dashed #6248FF;
    border-left: 3px dashed #6248FF;
    border-top-left-radius: 35px;
}

// Section people

  .people-slider {
    margin-bottom: 140px;
    &__wrapper {
        display: flex;

    }

    
    &__header {
        position: relative;
    }

    
    &__title {
        text-align: left;
        margin-bottom: 40px;
    }

    &__control {
        display: flex;
        align-items: center;
        width: 112px;
        justify-content: space-between;
    }

    
    &__item {
        
    }


    &__content {
        padding-top: 10px;
    }


    &__slide {
      font-size: 24px;
      padding-left: 100px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background: url(../img/quote.svg) 0 0 no-repeat;
            color: #6248FF;
            top: 100px;
            left: 50px;
            right: 0px;
            width: 35px;
            height: 32px;
        }
    }

    &__author {
        display: flex;
        align-items: center;
        padding-bottom: 17px;
    }

    &__container {
        text-align: left;
        padding-left: 30px;
        &_title {
            font-family: $fontFamily700;
            font-size: 18px;
            line-height: 30px;
        }

        &_subtitle {
            font-size: 16px;
        }
    }

    &__quote {
        font-family: $fontFamily700;
        line-height: 29px;
        text-align: left;
       
    }

    &__info {
        margin-top: 30px;
        font-family: $fontFamily700;
        font-size: 15px;
        line-height: 18px;
        color: #6248FF;
        text-decoration: underline;
    }
  }

// Section question

.questions {
    margin-bottom: 124px;
    &__title {
        padding-bottom: 60px;
    }

    &__section {
        padding: 40px 32px;
        border: 2px solid #6248FF;
        border-radius: 20px;
        margin-bottom: 16px;
    }
}

.question-section {

    &__question {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        @include MuseoSubtitle;
    }

    &__item {
        background: url(../img/plus.svg) center no-repeat;
        width: 18px;
        height: 18px;
        transition: all 0.3s ease;
        &._active {
                transform: rotate((-45deg));
        }
    }

    &__answer {
        font-family: $primaryFont;
        font-size: 16px;
        line-height: 27px;
    }
}
