@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Museo700";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Museo900";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl-900.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Museo500";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

a {
  text-decoration: none;
}

body {
  line-height: 1;
}

ul,
li {
  list-style: none;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

._arrow {
  background: url("../img/header/arrow.svg") center no-repeat;
  height: 48px;
  width: 48px;
  cursor: pointer;
  outline: none;
  border: 1px solid #6248FF;
  border-radius: 50%;
}

._arrow_next {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

._arrow_prev {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.swiper-button-disabled {
  border: 1px solid #E0E0E0;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

element.style {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.accordion-button::after {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-left: auto;
  content: "";
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/plus.svg);
}

.accordion-button {
  outline: none;
  border: 0;
  padding: 0;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #ffffff;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #ffffff;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-collapse {
  border: 0;
}

.accordion-body {
  padding: 25px 0px 0px 0px;
}

body {
  font-family: "Montserrat";
  color: #4F4F4F;
  font-size: 18px;
  line-height: 27px;
  overflow-x: hidden;
}

.header__nav {
  padding: 32px 0px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list li a {
  font-family: "Museo700";
  font-size: 15px;
  color: #333333;
}

.header__list li a:hover {
  cursor: pointer;
  color: #7181FC;
}

.btn-lang__title {
  border: 1px solid black;
  border-radius: 60px;
  padding: 12px 14px;
  color: #333333;
}

.btn-lang__title::after {
  content: "";
  width: 9.2px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 5.2px;
  background: url("../img/header/arrow.svg") 0 0 no-repeat;
  margin-left: 13px;
}

.btn-lang__title.show::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropdown-menu {
  min-width: 4.5rem;
}

#dropdownMenuLink {
  background: #FFFFFF;
  color: #333333;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Museo700";
  font-size: 15px;
  border-radius: 60px;
  background: #6248FF;
  color: #ffffff;
}

.btn-sign__button {
  padding: 13px 24px;
  font-size: 14px;
}

.btn-sign__button:hover {
  color: #ffffff;
  background-color: #7181FC;
}

h1 {
  font-family: "Museo700";
  font-size: 63px;
  color: #333333;
}

.header-content {
  padding-top: 100px;
  background: url(../img/header/background.png);
}

.header-content__container {
  padding-top: 40px;
}

.header-container__title {
  margin-bottom: 32px;
}

.header-container__subtitle {
  letter-spacing: 0.07em;
  line-height: 30px;
  margin-bottom: 48px;
}

.header-container__btn {
  padding: 15px 84px;
  margin-bottom: 182px;
}

.header-container__btn:hover {
  color: #ffffff;
  background-color: #7181FC;
}

h2 {
  font-family: "Museo700";
  font-size: 56px;
  line-height: 66px;
}

h2 span {
  background-color: #EFEDFF;
}

.start {
  padding-bottom: 140px;
}

.start__title {
  padding-top: 141px;
  padding-bottom: 60px;
}

.map-step {
  padding: 32px;
  border: 2px solid #6248FF;
  border-radius: 30px;
}

.map-step__num {
  font-family: "Museo700";
  font-size: 15px;
  color: #6248FF;
  padding-bottom: 8px;
}

.map-step__title {
  font-family: "Museo700";
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  padding-bottom: 24px;
}

.map-step__subtitle {
  line-height: 30px;
}

.map-step_second {
  margin-top: -40px;
}

.border-class-1 {
  margin-top: -109px;
  margin-left: 488px;
  margin-right: 0px;
  width: 465px;
  height: 70px;
  border-top: 3px dashed #6248FF;
  border-right: 3px dashed #6248FF;
  border-top-right-radius: 35px;
}

.border-class-2 {
  margin-right: 486px;
  margin-top: -110px;
  width: 465px;
  height: 70px;
  border-top: 3px dashed #6248FF;
  border-left: 3px dashed #6248FF;
  border-top-left-radius: 35px;
}

.people-slider {
  margin-bottom: 140px;
}

.people-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.people-slider__header {
  position: relative;
}

.people-slider__title {
  text-align: left;
  margin-bottom: 40px;
}

.people-slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 112px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.people-slider__content {
  padding-top: 10px;
}

.people-slider__slide {
  font-size: 24px;
  padding-left: 100px;
  position: relative;
}

.people-slider__slide::before {
  content: "";
  position: absolute;
  background: url(../img/quote.svg) 0 0 no-repeat;
  color: #6248FF;
  top: 100px;
  left: 50px;
  right: 0px;
  width: 35px;
  height: 32px;
}

.people-slider__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 17px;
}

.people-slider__container {
  text-align: left;
  padding-left: 30px;
}

.people-slider__container_title {
  font-family: "Museo700";
  font-size: 18px;
  line-height: 30px;
}

.people-slider__container_subtitle {
  font-size: 16px;
}

.people-slider__quote {
  font-family: "Museo700";
  line-height: 29px;
  text-align: left;
}

.people-slider__info {
  margin-top: 30px;
  font-family: "Museo700";
  font-size: 15px;
  line-height: 18px;
  color: #6248FF;
  text-decoration: underline;
}

.questions {
  margin-bottom: 124px;
}

.questions__title {
  padding-bottom: 60px;
}

.questions__section {
  padding: 40px 32px;
  border: 2px solid #6248FF;
  border-radius: 20px;
  margin-bottom: 16px;
}

.question-section__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-section__title {
  font-family: "Museo700";
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.question-section__item {
  background: url(../img/plus.svg) center no-repeat;
  width: 18px;
  height: 18px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.question-section__item._active {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.question-section__answer {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 27px;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.webp .header-content { background: url(../img/header/background.webp); }