@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Museo700";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

a {
  text-decoration: none;
}

body {
  line-height: 1;
}

ul,
li {
  list-style: none;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

._arrow {
  background: url("../img/header/arrow.svg") center no-repeat;
  height: 48px;
  width: 48px;
  cursor: pointer;
  outline: none;
  border: 1px solid #6248FF;
  border-radius: 50%;
}

._arrow_next {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

._arrow_next_quote {
  display: none;
}

._arrow_prev {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

._arrow_prev_quote {
  display: none;
}

.swiper-button-disabled {
  border: 1px solid #E0E0E0;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

element.style {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.accordion-button::after {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-left: auto;
  content: "";
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/plus.svg);
}

.accordion-button {
  outline: none;
  border: 0;
  padding: 0;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #ffffff;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #ffffff;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-collapse {
  border: 0;
}

.accordion-body {
  padding: 25px 0px 0px 0px;
  line-height: 27px;
}

body {
  font-family: "Museo700";
  color: #4F4F4F;
  font-size: 18px;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.header__nav {
  padding: 20px 0px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list li a {
  font-size: 15px;
  color: #333333;
}

.header__list li a:hover {
  cursor: pointer;
  color: #7181FC;
}

.btn-lang__title {
  border: 1px solid black;
  border-radius: 60px;
  padding: 9px 15px;
  color: #333333;
}

.btn-lang__title::after {
  content: "";
  width: 9.2px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 5.2px;
  background: url("../img/header/arrow.svg") 0 0 no-repeat;
  margin-left: 13px;
}

.btn-lang__title.show::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropdown-menu {
  min-width: 4.5rem;
}

#dropdownMenuLink {
  background: #FFFFFF;
  color: #333333;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 60px;
  background: #6248FF;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-sign__button {
  padding: 9px 21px;
  font-size: 14px;
}

h1 {
  font-size: 63px;
  color: #333333;
}

h1 span {
  display: block;
}

.header-content {
  padding-top: 100px;
  background: url(../img/header/background.png);
}

.header-content__container {
  padding-top: 40px;
  margin-bottom: 182px;
}

.header-container__title {
  margin-bottom: 32px;
  line-height: 72px;
}

.header-container__subtitle {
  font-family: "Montserrat";
  letter-spacing: 0.07em;
  line-height: 30px;
  margin-bottom: 48px;
}

.header-container__btn {
  padding: 15px 74px;
}

.header-container__btn:hover {
  color: #ffffff;
  background-color: #7181FC;
}

h2 {
  font-size: 56px;
  line-height: 66px;
}

h2 span {
  background-color: #EFEDFF;
}

.start {
  padding-bottom: 115px;
}

.start__title {
  padding-top: 140px;
  padding-bottom: 67px;
}

.map-step {
  padding: 32px;
  border: 2px solid #6248FF;
  border-radius: 30px;
}

.map-step__num {
  font-size: 15px;
  color: #6248FF;
  padding-bottom: 8px;
}

.map-step__title {
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  padding-bottom: 24px;
}

.map-step__subtitle {
  font-family: "Montserrat";
  line-height: 30px;
}

.map-step_second {
  margin-top: -40px;
}

.border-class-1 {
  margin-top: -109px;
  margin-left: 490px;
  margin-right: 0px;
  width: 465px;
  height: 70px;
  border-top: 3px dashed #6248FF;
  border-right: 3px dashed #6248FF;
  border-top-right-radius: 35px;
}

.border-class-2 {
  margin-right: 490px;
  margin-top: -110px;
  width: 465px;
  height: 70px;
  border-top: 3px dashed #6248FF;
  border-left: 3px dashed #6248FF;
  border-top-left-radius: 35px;
}

.people-slider {
  margin-bottom: 125px;
}

.people-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.people-slider__header {
  position: relative;
}

.people-slider__title {
  text-align: left;
  margin-bottom: 48px;
}

.people-slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 112px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.people-slider__content {
  padding-top: 10px;
}

.people-slider__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.people-slider__slide {
  font-size: 24px;
  padding-left: 100px;
  position: relative;
}

.people-slider__slide::before {
  content: "";
  position: absolute;
  background: url(../img/quote.svg) 0 0 no-repeat;
  color: #6248FF;
  top: 100px;
  left: 50px;
  right: 0px;
  width: 35px;
  height: 32px;
}

.people-slider__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 17px;
}

.people-slider__container {
  text-align: left;
  padding-left: 30px;
}

.people-slider__container_title {
  line-height: 30px;
}

.people-slider__container_subtitle {
  font-family: "Montserrat";
  font-size: 16px;
}

.people-slider__quote {
  line-height: 29px;
  text-align: left;
}

.people-slider__info {
  margin-top: 30px;
  font-size: 15px;
  line-height: 18px;
  color: #6248FF;
  text-decoration: underline;
}

.questions {
  margin-bottom: 124px;
}

.questions__title {
  padding-bottom: 60px;
}

.questions__section {
  padding: 40px 32px;
  border: 2px solid #6248FF;
  border-radius: 20px;
  margin-bottom: 16px;
}

.question-section__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-section__title {
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.question-section__item {
  background: url(../img/plus.svg) center no-repeat;
  width: 18px;
  height: 18px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.question-section__item._active {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.question-section__answer {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 27px;
}

.contact {
  background: url(../img/header/background.png);
  padding-top: 120px;
  padding-bottom: 134px;
}

.contact__form {
  background-color: white;
  padding: 90px 80px;
  border: 2px solid #6248FF;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__field {
  width: 100%;
  margin-bottom: 24px;
}

.contact__field input {
  background-color: white;
  font-family: "Montserrat";
  font-size: 16px;
  outline: none;
  display: block;
  width: 100%;
  border-radius: 8px;
  color: #828282;
  border: 2px solid #E0E0E0;
  padding: 7px 76px 16px 16px;
}

.contact__field input[placeholder="Message"] {
  padding-bottom: 89px;
}

.contact__error {
  color: #EB5757;
  text-align: left;
  display: block;
  display: none;
  font-size: 15px;
  line-height: 16px;
}

.contact__button {
  padding: 15px 67px;
}

.content-contact__title {
  margin-bottom: 32px;
}

.content-contact__subtitle {
  font-family: "Montserrat";
  line-height: 30px;
  margin-bottom: 48px;
}

.content-contact__owned {
  font-family: "Montserrat";
  font-size: 15.9px;
  line-height: 27px;
  margin-bottom: 24px;
}

.content-contact__container_phone {
  padding-bottom: 16px;
}

.content-contact__container_mail {
  padding-bottom: 16px;
}

.contact-form__title {
  font-size: 15px;
  color: #333333;
  padding-bottom: 8px;
}

.contact-form__subtitle {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 27px;
  color: #4F4F4F;
}

input:focus {
  border-color: #828282;
  color: #4F4F4F;
}

input:valid:not(:-moz-placeholder-shown) {
  border-color: #0EAC00;
}

input:valid:not(:-ms-input-placeholder) {
  border-color: #0EAC00;
}

input:valid:not(:placeholder-shown) {
  border-color: #0EAC00;
}

input:invalid:not(:-moz-placeholder-shown) {
  border-color: #EB5757;
}

input:invalid:not(:-ms-input-placeholder) {
  border-color: #EB5757;
}

input:invalid:not(:placeholder-shown) {
  border-color: #EB5757;
}

input:invalid:not(:-moz-placeholder-shown) + .contact__error {
  display: block;
}

input:invalid:not(:-ms-input-placeholder) + .contact__error {
  display: block;
}

input:invalid:not(:placeholder-shown) + .contact__error {
  display: block;
}

.footer {
  padding-top: 32px;
  padding-bottom: 72px;
}

.footer__title {
  line-height: 30px;
  padding-bottom: 16px;
}

.footer__subtitle {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 27px;
}

.footer__list li {
  margin-bottom: 24px;
  padding-left: 66px;
}

.footer__list li a {
  font-size: 15px;
  color: #333333;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 48px;
}

.footer__bottom li a {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 27px;
  color: #828282;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links li a {
  font-size: 15px;
  color: #333333;
}

.fade:not(.show) {
  opacity: 1;
}

@media (min-width: 992px) {
  .btn:hover {
    color: #ffffff;
    background-color: #7181FC;
  }

  .footer__list li a:hover {
    cursor: pointer;
    color: #7181FC;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1280px) {
  .border-class-1 {
    margin-left: 470px;
  }

  .border-class-2 {
    margin-right: 464px;
  }
}

@media (max-width: 1200px) {
  .btn-lang__title {
    width: 80px;
    margin-left: 50px;
  }

  .border-class-1 {
    margin-left: 397px;
    width: 380px;
  }

  .border-class-2 {
    margin-right: 391px;
    width: 380px;
  }

  .contact__form {
    padding: 110px  80px;
  }
}

@media (max-width: 992px) {
  ._arrow_next_quote {
    display: block;
    padding: 20px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  ._arrow_prev_quote {
    display: block;
    padding: 20px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .header__image {
    -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
            transform: scale(0.75);
  }

  .header-content__container {
    margin-bottom: 32px;
  }

  .header-content .row {
    text-align: center;
  }

  .header-content {
    padding-top: 40px;
  }

  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .start__title {
    padding-top: 120px;
    padding-bottom: 57px;
  }

  .border-class-1 {
    margin-left: 300px;
    width: 278px;
  }

  .border-class-2 {
    margin-right: 298px;
    width: 300px;
  }

  .people-slider__wrapper {
    display: block;
  }

  .people-slider__control {
    display: none;
  }

  .people-slider__slide::before {
    top: 161px;
    left: 300px;
    width: 35px;
    height: 32px;
  }

  .people-slider__slide {
    padding: 0px 40px;
  }

  .people-slider__author {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 60px;
  }

  .people-slider__quote {
    text-align: center;
  }

  .people-slider {
    margin-bottom: 120px;
  }

  .questions {
    margin-bottom: 104px;
  }

  .contact {
    padding: 50px 0px;
  }

  .content-contact {
    padding-bottom: 48px;
  }

  .content-contact__title {
    text-align: center;
  }

  .footer__container {
    padding-bottom: 32px;
  }

  .footer__title {
    text-align: center;
  }

  .footer__list li {
    padding: 0px;
    margin-bottom: 40px;
  }

  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__bottom li {
    padding-bottom: 16px;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 30px;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 10px;
  }

  .footer {
    padding-top: 0px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 992px) {
  .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
        -ms-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: #5b78c7;
    padding-top: 70px;
    padding-bottom: 70px;
    top: -20px;
    left: 0;
    height: 105vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(100px at 100% -30%);
    -webkit-clip-path: circle(100px at 90% -45%);
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
    overflow: hidden;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% 20%);
    -webkit-clip-path: circle(1000px at 90% 20%);
    pointer-events: all;
  }

  .landing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 25px;
  }

  .nav-links li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    -o-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    -o-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    -o-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }

  li.fade {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
  }

  .people-slider__slide::before {
    top: 161px;
    left: 200px;
    width: 35px;
    height: 32px;
  }

  .footer__list li {
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .map-step {
    margin-bottom: 60px;
  }

  .contact__form {
    padding: 20px 16px;
  }

  .footer__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 46px 0px;
  }

  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 576px) {
  .people-slider__slide::before {
    top: 161px;
    width: 35px;
    height: 32px;
    left: 46%;
  }

  .people-slider__slide {
    padding: 0px 5px;
  }

  .people-slider__container {
    padding: 0;
  }

  .footer {
    padding-bottom: 16px;
  }
}

@media (max-width: 572px) {
  .header__nav {
    padding: 50px 0px;
  }
}

.webp .header-content { background: url(../img/header/background.webp); }

.webp .contact { background: url(../img/header/background.webp); }